body {margin: 0;padding: 0;}
li {list-style-type: none;}
a{
  font-weight: 600;
  text-decoration: none;
  line-height: 20px;
  color: #3751FF;
  
}

.page {
    display: flex;
    width: 1440px;
    height: 1272px;
    background-color:#F7F8FC;
}



/* --------------- меню слева --------------- */
.sidebar {
    width: 255px;
    height: 1272px;
    background-color:#363740;
    color: #fff;
}

.logoName{
    font-size: 19px;
    color:#A4A6B3;
    align-items:center;
    padding-bottom: 54px;
}

.logoName img{
  padding-left:32px;
  padding-top: 37px;
  padding-right: 12px;

}

.blockMenu{
    color: #A4A6B3;
    padding: 18px;
    font-size: 16px;
}

.blockMenu img{
  padding-right:24px;
  padding-left: 10px;

}

.blockMenu:hover{
    color: #DDE2FF;
    border-left: 3px solid #fff;
    background-color:#9FA2B4;
    opacity: 0.5;
    cursor: pointer;
}

.blockMenuHover{
  color: #DDE2FF;
  border-left: 3px solid #fff;
  background-color:#9FA2B4;
  opacity: 0.5;
  cursor: pointer;
}

/*  ---------- страница 1 ---------- */
              /*  заголовок сверху  */
.header{
    display: inline-flex;
    width:1185px;
    height: 1234px;
    margin: 30px 0px 30px 30px;
}



.block {
    display: inline-flex;
    text-align: center;
    width: 1122px;
  }
  .block div {
    flex: 10%;
    display: inline-flex;
    height: 50px;
  }
  .block div:nth-child(2) {
    flex: 10%;
    display: inline-flex;
    justify-content: flex-end;
  }


.blockName{
  color: #252733;
  font-size: 24px;
  width: 1122px;
  height: 44px;

  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.3px;

}
  
.userName{
    font-size: 14px;
    color:#252733;
}
.userAvatar{
    border: 1.5px solid #DFE0EB;
    border-radius:50% ;
}

/* --------- карты сверху ---------- */

.fonCards {
    display: flex;
  }

.cardText{
  font-weight: bold;
  font-size: 19px;  
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  padding-top: 24px;
  /* color: #9FA2B4; */
}

.cardNum{
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
}

.fonCards div {
    width:254px;
    height: 134px;
    margin-top: 58px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
  }

  .fonCards div:hover {
    border: 1px solid #3751FF;
    color: #3751FF;
    cursor: pointer;
  }

  .activeCard{
    border: 2px solid #3751FF !important;
    color: #3751FF;
    
  }

.card + .card{
    margin-left: 30px;
  }


  /* --------------- schedule --------------- */
.schedule{
    margin-top: 30px;
    width:1122px;
    height: 546px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    background: #FFFFFF;
    display: inline-flex;
    text-align: center;
}

    /*  график */
  .field1 {
    display: inline-flex;
    width: 780px;
  }

   /* инфо справа */
  .field2 {
    width: 342px;
    display: inline-flex;
    justify-content: center;
  }

.field2Info {
    display: flex;
    width: 342px;
    height: 108.4px;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 1px solid #DFE0EB ;
    border-bottom: 1px solid #DFE0EB ;
}

.field2Text{
  font-size: 16px;
  line-height: 22px;
  padding-top: 30px;
  color: #9FA2B4;
}

.field2InfoRes{
  font-weight: bold;
  padding-top: 6px;
  font-size: 24px;
}



/* --------- bottom info ---------  */

.bottomBlockInofo {
    display: flex;
  }


  /* настройка нижн блоков*/
.InfoPos {
    /* flex: 0 0 auto; */
    /* width: auto; */
    width:546px;
    height: 336px;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    color: #252733;
    font-size: 19px;
    text-align: left; 
  }

  .InfoPos + .InfoPos {
  margin-left: 30px;
  }

/* кнопки */
  .taskButton{
    border-radius:8px;
    border: none;
    font-size: 11px;
    padding: 5px 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .tb1{
    background: #FEC400;
  }
  .tb2{
    background: #29CC97;
  }
  .tb3{
    background: #F0F1F7;
    color:#9FA2B4;
  }

.checkTask{
  letter-spacing:0.2px;
}







.unresolvedTickets{
  padding: 1.7rem 2.2rem;
}

.b01-1st{
  width: 160px;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.4px;
  color: #252733;
  text-align: left;
}

.b01-1st p{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
}

.b01-1st span{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #252733;

}


.blockTest {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
}

.block01 {
  flex-grow: 1;
}

.block02 {
  color: #9fa2b4;
}


.divided{
  border: 1px solid #DFE0EB;
  margin: 0 -2.2rem;
}

.taskAdd{
  background: #F0F1F7;
border-radius: 8px;
border: none;
width: 24px;
height: 24px;

}



                      /* страница 2 */



.blockNa input {
  margin-left: 28px;
}

.devided{
  margin: 0px 32px ;
}

.block1 {
  display: flex;
}

.blockInfo {
  width:1122px;
  height: 942px;
  margin-top: 30px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
  color: #252733;
  font-size: 19px;
  text-align: left; 
  
}

.block1Test {
  display: inline-flex;
  /* width: 100%;   */
  width: 1120px;
  flex: 10%;
  font-size: 14px;

}
/* линуем табл */
.block1Test div {
  flex: 10%;
  display: inline-flex;

  padding-left: 24px;
  padding-bottom: 18px;
  padding-top: 24px;
  
  color: #252733;
  line-height: 20px;
  height: 44px;
  border-bottom: 1px solid #DFE0EB ;
}

.block1Test p{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #C5C7CD;
}


/* 1 столб */
.ticketDetail {
  width: 440px;
  height: 18px;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  padding-left: 24px;

}


.string1{
}

.string1 li{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9FA2B4;
  padding-left: 24px;

}

/* 2 столб */
.customerName{
  width: 208px;
  height: 18px;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  

}

/* 3 столб */
.colDate{
  width: 140px;
  height: 18px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
}

/* 4 столб */
.priority{
  width: 104px;
  height: 18px;
  text-align: left;
}

/* 5 столб */

.colMenu{
  height: 5px;
  text-align: left;
}

.statusIcon{
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 100px;
  height: 24px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.low{
  background: #FEC400;
}

.normal{
  background: #29CC97;
}

.high{
  background: #F12B2C;  
}



.show{
  display: block;
}
.hidden{
  display: none;
}